#checkout-box {
  height: 70vh;

  background-color: white;
  margin: auto;
  width: 100%;
  display: grid;
  margin-top: 5vw;
  font-family: $textFont;

  #payment-options {
    display: grid;
    height: 50%;
    grid-row-gap: 2vmin;
  }

  #pay-with-heading {
    text-align: center;
    height: 33.33%;
  }

  #next {
    width: 50%;
  }

  .payment-option {
    font-size: 0.8em;
    margin-left: 1vw;
    margin-right: 1vw;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    border-radius: 6px;
    &:hover {
      cursor: pointer;
    }

    .circle {
      border-radius: 100%;
      background-color: white;
      width: 3vmin;
      height: 3vmin;
      margin: 2vmin;
    }
  }

  .payment-option-text {
    color: #c4c4c4;
    text-align: center;
    height: 20vh;
    display: none;

    p {
      align-self: center;
      grid-columns: 1/3;
    }
  }

  #cc {
  }

  #paypal {
  }

  //Setting text size inside of the opening text boxes
  #paypal-text {
    font-size: 1.5em;
  }

  #mobilepay-text {
    font-size: 1.5em;
  }

  #mobilepay {
  }

  .opened {
    transition: 2s linear;
    display: grid;
  }
  //Styling the credit card form grid below, it has the class .opened so it already is a grid.
  #cc-form {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 80%;
    margin: auto;
    justify-items: left;
    grid-column-gap: 3vmin;
    font-family: $textFont;

    #ccNum-label {
      grid-column: 1/5;
      width: 100%;
      text-align: left;
    }

    #ccMonth-label {
      grid-column: 1/2;
      width: 100%;
      text-align: left;
      width: 50%;
    }

    #ccYear-label {
      grid-column: 2/3;
      width: 100%;
      text-align: left;
      width: 50%;
    }

    #ccCvc-label {
      grid-column: 4/5;
      width: 100%;
      text-align: left;
      width: 50%;
    }

    #ccName-label {
      grid-column: 1/5;
      width: 100%;
      text-align: left;
    }

    input {
      border: none;
      border-bottom: 2px solid $theGray;
      width: 100%;
    }
  }

  .active {
    transition: 2s smooth;
    background: white;
    border: 2px solid $theGreen;

    .circle {
      background-color: $theGreen;
    }
  }

  .inactive {
  }

  //Styling the bottom buttons
  #navBtns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: $textFont;
    margin-left: 1vw;
    margin-right: 1vw;
    align-self: center;

    #back {
      width: 40%;
      height: 80%;
      border: 2px solid #cdcdcd;
      border-radius: 6px;
      transition:0.2s linear;

      &:hover {
        cursor: pointer;
        background-color: $theGreen;
        color:white;
      }

      p {
        text-align: center;
      }
    }

    #complete-purchase {
      height: 80%;
      border: 2px solid $theGreen;
      color:white;
      background:$theGreen;
      border-radius: 6px;
      transition:0.2s linear;

      &:hover {
        cursor: pointer;
        background:white;
        color:$theGreen;
      }

      p {
        text-align: center;
      }
    }
  }
}
