$theGray: #c4c4c4;

#signUp-block {
  grid-column: 1/3;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

  font-family: $textFont;
  height: 70vh;
  width: 100%;
  background-color: white;
  margin: auto;
  margin-top: 5vw;

  h1 {
    @extend reset;
    justify-self: center;
    align-self: center;
  }

  #or {
    @extend reset;
    justify-self: center;
    align-self: center;
    color: $theGray;
    font-size: 2em;
  }

  .signup-btn {
    width: 50%;
    justify-self: center;
    height: 66.6666%;
    align-self: center;
    font-size: 2em;
  }

  #signup-fb-btn {
    background: #3b5998;
    color: white;
    border-radius: 6px;
    transition: 0.2s linear;
    &:hover{
      background:#9bb140;
      color:white;
      cursor:pointer;
    }
  }

  #signup-google-btn {
    background: #dd4b39;
    color: white;
    border-radius: 6px;
    transition: 0.2s linear;
    &:hover{
      background:#9bb140;
      color:white;
      cursor:pointer;
    }
  }
  #signup-email-btn {
    background: #ffffff;
    border: 1px solid #9bb140;
    box-sizing: border-box;
    transition: 0.2s linear;

    border-radius: 6px;
    color: $theGreen;
    &:hover{
      background:#9bb140;
      color:white;
      cursor:pointer;
    }
  }
}

#signUp-block-form {
  grid-column: 1/3;
  background-color: white;
  display: grid;

  font-family: $textFont;
  height: 70vh;
  width: 100%;
  background-color: white;
  margin: auto;
  margin-top: 5vw;

  h1 {
    @extend reset;
    justify-self: center;
    align-self: center;
  }

  input {
    border: none;
    border-bottom: 2px solid $theGray;
    width: 40%;
    margin: auto;
  }
  label {
    color: $theGray;
    width: 40%;
    margin: auto;
  }
}
#signup-submit {
  background: #9bbe40;
  border: 2px solid #9bbe40;
  box-sizing: border-box;
  border-radius: 6px;
  width: 8%;
  height: 60%;
  align-self:center;
  justify-self:center;
  display:grid;
  align-items:center;
  justify-items:center;
  transition: 0.2s linear;

  &:hover{
    cursor:pointer;
    background-color:white;
    
  }
}
