@import "css/header";
@import "css/progressBar";
@import "css/summary";
@import "css/navBottom";
@import "css/signUp";
reset {
  margin: 0;
  padding: 0;
}
$headerFont: "helvetica", sans-serif;
$textFont: "Roboto", sans-serif;
$theGreen: #9bbe40;

body {
  overflow-x: hidden;
  background-color: rgba($color: #e2e2e2, $alpha: 0.6);
}

main {
  display: grid;
  grid-template-columns: 65% 35%;

  width: 95vw;
  height: 85vh;
  left: 2.5vw;
  top: 10vh;
  position: absolute;
}
@import "css/purchaseSection";
#deliveryMethod {
  h2 {
    @extend reset;
    font-family: $headerFont;
    font-size: 2em;
    margin: 3vw;
    transform: translateY(1vw);
  }
  #methodBox {
    width: 50vw;
    height: 35vw;
    background-color: white;
    margin-top: 5vw;
    margin-left: 2vw;

    .selectMethod {
      background-color: lightgray;
      width: 80%;
      height: 5vw;
      margin-left: 2vw;
      display: grid;
      grid-template-columns: 10% 1fr;
      margin-top: 1vw;
      cursor: pointer;
      transition: 0.1s;
      .pseoduRadio {
        width: 2vw;
        height: 2vw;
        background-color: white;
        border-radius: 5vw;
        border: solid gray 2px;
        margin: auto;
        margin-top: 1.5vw;
      }

      .selectTxt {
        @extend reset;
        font-family: $textFont;
        font-size: 2em;
        margin-top: 1.5vw;
      }
    }
    .radioActive {
      background-color: $theGreen;
    }
  }
}
#addDelivery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin: auto;

  #deliveryTxt p {
    @extend reset;
    font-family: $textFont;
    font-weight: bold;
    font-size: 1.5em;
  }
  #deliveryValue {
    p {
      @extend reset;
      font-family: $textFont;
      font-weight: bold;
      font-size: 1.5em;
      float: right;
    }
  }
}
