reset, #buttons .button p, main #purchase #roskilde #ros1, main #purchase #roskilde #ros2, main #purchase #roskilde #ros3, main #purchase #volt #ros1, main #purchase #volt #ros2, main #purchase #volt #ros3, main #summary #info h2, main #summary #info #sum .sumCard .sumHead .product p, main #summary #info #sum .sumCard .sumHead .price p, main #summary #info #sum .sumCard .sumInfo,
body,
header #nav .navItem,
header #nav .navItem p,
header #user #signup #signupButton p,
header #login #loginButton p,
header #basket #basketIcon #counter p {
  margin: 0;
  padding: 0;
}

header {
  background-color: #303030;
  width: 100vw;
  height: 7vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

header #logo img {
  width: 6vw;
  margin-left: 20%;
  margin-top: 0.4vw;
}

header #nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

header #nav .navItem {
  color: white;
}

header #nav .navItem p {
  font-family: "helvetica", sans-serif;
  font-size: 1.3em;
  margin: 1.1vw 0vw 0vw 0vw;
  cursor: default;
  text-align: center;
}

header #user {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

header #user #signup #signupButton {
  width: 106px;
  height: 40px;
  transform: scale(1.1) translate(2vw, 0.52vw);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: normal;
  border: solid #9bbe40 1.5px;
  border-radius: 6px;
}

header #user #signup #signupButton p {
  width: 106px;
  height: 19px;
  text-align: center;
  margin-top: 0.45vw;
  color: white;
  cursor: default;
}

header #login {
  color: #9bbe40;
}

header #login #loginButton p {
  transform: scale(1.2) translate(2.5vw, 0.9vw);
  color: #9bbe40;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: normal;
  cursor: default;
}

header #basket #basketIcon {
  transform: translate(10vw, 0.4vw);
}

header #basket #basketIcon #counter {
  width: 1vw;
  height: 1vw;
  position: absolute;
  background: orange;
  border-radius: 5vw;
  transform: scale(1.15) translateX(1.6vw);
}

header #basket #basketIcon #counter p {
  text-align: center;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 0.1vw;
  transform: scale(0.85);
  cursor: default;
}

header #basket #basketIcon img {
  width: 2.5vw;
}

#progress {
  width: 40vw;
  height: 5vw;
  position: absolute;
  left: 30vw;
  top: 5vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#progress .progressItem {
  height: 1.8vw;
  width: 1.8vw;
  background-color: orange;
  margin: auto;
  border-radius: 5vw;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

#progress .active {
  background-color: #9bbe40;
}

#progressLines {
  width: 31vw;
  height: 5vw;
  position: absolute;
  left: 35vw;
  top: 5vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  z-index: 1;
}

#progressLines .progressLine {
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  transform: translateY(2.5vw);
}

#progressLines .active {
  background-color: #9bbe40;
}

reset, #buttons .button p, main #purchase #roskilde #ros1, main #purchase #roskilde #ros2, main #purchase #roskilde #ros3, main #purchase #volt #ros1, main #purchase #volt #ros2, main #purchase #volt #ros3, main #summary #info h2, main #summary #info #sum .sumCard .sumHead .product p, main #summary #info #sum .sumCard .sumHead .price p, main #summary #info #sum .sumCard .sumInfo {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: rgba(226, 226, 226, 0.6);
}

#choose {
  font-family: "helvetica", sans-serif;
  font-size: 2.5em;
  cursor: default;
  margin: 2vw;
}

#buttons {
  width: 50vw;
  height: 10vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1vw;
  transform: translateX(-2.8vw);
  margin-left: 0;
}

#buttons .button {
  background-color: white;
  transition: 0.3s;
  width: 15vw;
  height: 5vh;
  margin: auto;
  border-radius: 0.3vw;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

#buttons .button p {
  text-align: center;
  font-family: "helvetica", sans-serif;
  font-size: 1.6em;
  transform: translateY(0.5vw);
  cursor: pointer;
}

#buttons .button:hover {
  transform: scale(1.05);
}

#buttons .buttonActive {
  background-color: #9bbe40;
}

main {
  display: grid;
  grid-template-columns: 65% 35%;
  width: 95vw;
  height: 85vh;
  left: 2.5vw;
  top: 10vh;
  position: absolute;
}

main #purchase {
  width: 45vw;
  height: 35vw;
  position: relative;
  top: 5vw;
  left: 5vw;
  transform: scale(1.2);
}

main #purchase #roskilde {
  width: 90%;
  position: relative;
  left: 2vw;
  height: 8vw;
  background-color: #e95814;
  display: grid;
  grid-template-columns: 30% 50% 1fr;
  border-radius: 0.3vw;
}

main #purchase #roskilde img {
  width: 8vw;
  border-radius: 0.3vw;
}

main #purchase #roskilde #ros1 {
  font-size: 1.6em;
  margin: 0.5vw;
  margin-top: 2vw;
  font-family: "Roboto", sans-serif;
}

main #purchase #roskilde #ros2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  margin-left: 1vw;
  font-weight: bold;
}

main #purchase #roskilde #ros2 #ros2Span {
  text-decoration: line-through;
}

main #purchase #roskilde #ros3 {
  margin-left: 2vw;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.7);
}

main #purchase #roskilde #quantity #ros4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  margin-top: 0.5vw;
}

main #purchase #roskilde #quantity input {
  width: 2vw;
  height: 2vw;
  font-size: 1.5em;
}

main #purchase #volt {
  width: 90%;
  position: relative;
  left: 2vw;
  height: 8vw;
  background-color: white;
  display: grid;
  grid-template-columns: 30% 50% 1fr;
  border-radius: 0.3vw;
  margin-top: 1vw;
}

main #purchase #volt img {
  width: 8vw;
  border-radius: 0.3vw;
}

main #purchase #volt #ros1 {
  font-size: 1.6em;
  margin: 0.5vw;
  margin-top: 2vw;
  font-family: "Roboto", sans-serif;
}

main #purchase #volt #ros2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  margin-left: 1vw;
  font-weight: bold;
}

main #purchase #volt #ros2 #ros2Span {
  text-decoration: line-through;
}

main #purchase #volt #ros3 {
  margin-left: 2vw;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.7);
}

main #purchase #volt #quantity #ros4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  margin-top: 0.5vw;
}

main #purchase #volt #quantity input {
  width: 2vw;
  height: 2vw;
  font-size: 1.5em;
}

main #summary #info {
  width: 28vw;
  height: 70vh;
  background-color: white;
  margin: auto;
  margin-top: 5vw;
  margin-right: 1vw;
}

main #summary #info h2 {
  font-family: "helvetica", sans-serif;
  text-align: center;
  transform: translateY(1vw);
  font-size: 2em;
}

main #summary #info #sum {
  margin-top: 5vw;
}

main #summary #info #sum .sumCard {
  width: 90%;
  margin: auto;
  margin-top: 2vw;
}

main #summary #info #sum .sumCard .sumHead {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main #summary #info #sum .sumCard .sumHead .product p {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}

main #summary #info #sum .sumCard .sumHead .price p {
  float: right;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}

main #summary #info #sum .sumCard .sumInfo {
  width: 50%;
  margin: 0.5vw;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.7);
}
